<!DOCTYPE html>
<html>
{% load static %}
<head>

<link rel="stylesheet" type="text/css"  href="{% static 'css/first.css' %}"/>
<script>alert("Hello! I am an alert box!!");</script>
</head>

 
  
<body>    
    <center> <h1> Student Login Form </h1> </center>   
    <form method="post"> 
    {% csrf_token %}
        
        <div class="imgcontainer">
        <img src="images/scr1.jpg" alt="Avatar" class="avatar"> 
        </div> 
        <div class="container">
   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" id="user" name="user" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" id="pass" name="pass" required>  
            <button type="submit">Login</button>   
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>     
   
 

</body>
</html>
